.scorecard-round {
  border: 1px solid black;
}

.scorecard-header,
.corner-box {
  border: none;
  border-bottom: 1px solid black;
}

.corner-box {
  width: 50%;
  height: 50%;
  border-left: 1px solid black;
}

.score-box {
  height: 60px;
  background-color: rgb(255, 254, 225);
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: end;
}

.totals-box {
  width: 100%;
  height: 50%;
}
