.scorecard-round {
  border: 1px solid black;
}

.scorecard-header,
.second-score {
  border: none;
  border-bottom: 1px solid black;
}

.score-box {
  height: 60px;
  background-color: rgb(255, 254, 225);
  display: flex;
  flex-direction: column;
}

.score-box-top {
  display: flex;
  width: 100%;
  height: 50%;
  justify-content: end;
}
.first-score {
  width: 50%;
  text-align: center;
}

.second-score {
  width: 50%;
  border-left: 1px solid black;
}

.totals {
  width: 100%;
  height: 50%;
}
